{
  "id": 0,
  "enterpriseId": 0,
  "basic": false,
  "_update": {
    "id": 0,
    "name": "imageUpdate",
    "type": "ENTERPRISE",
    "description": "string",
    "configurationId": 0,
    "data": {},
    "refs": {}
  }
}