{
  "name": "test",
  "gatewayPoolId": 1,
  "networkId": 1,
  "returnData": true,
  "user": {
    "password": "Velocloud123",
    "password2": "Velocloud123",
    "username": "test@test.fr",
    "email": "test@test.fr"
  },
  "configurationId": 2,
  "enableEnterpriseDelegationToOperator": true,
  "enableEnterpriseUserManagementDelegationToOperator": true
}